.directions {
  background-repeat: no-repeat;

  @media (max-width: $mobile-max-width) {
    margin-top: -49px;
    padding-bottom: 15px;

    background-image: url("../img/directions-bg-mob.png");
    background-size: 216px 494px;
    background-position: 0 25%;
  }
}

.directions__title {

  @media (max-width: $mobile-max-width) {
    margin-bottom: 33px;
  }
}

.directions__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -20px;
}

.directions__item {
  @media (max-width: $mobile-max-width) {
    margin: 0 20px 29px 0;
  }
}
