.direction {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;

  box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);

  @media (max-width: $mobile-max-width) {
    width: 250px;
    max-width: 539px;
  }

  @media (min-width: $mobile-mid-min) and (max-width: $mobile-mid-max) {
    width: 100%;
  }

  picture {
    background-color: $reserve-image-bg;
  }

  &:first-of-type {
    @media (min-width: $tablet-min-width) {
      margin-left: auto;
      margin-right: 3%;
    }

    @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
      width: 40%;
    }

    @media (min-width: $desktop-min-width) {
      width: 31%;
      max-width: 370px;
    }

    picture {
      @media (min-width: $tablet-min-width) {
        width: 100%;
      }
    }

    .direction__image {
      @media (min-width: $tablet-min-width) {
        width: 100%;
      }

      @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
        min-height: 209px;
      }

      @media (min-width: $desktop-min-width) {
        min-height: 249px;
      }
    }

    .direction__wrapper {
      @media (min-width: $tablet-min-width) {
        width: 67%;
      }

        @media (min-width: $desktop-min-width) {
          padding: 32px 25px 17px 48px;
        }
    }
  }

  &:not(:first-of-type) {
    @media (min-width: $tablet-min-width) {
      margin-right: auto;
    }

    @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
      width: 57%;
      margin-bottom: 20px;
    }

    @media (min-width: $desktop-min-width) {
      width: 44%;
      max-width: 525px;
      margin-bottom: 27px;
    }

    .direction__wrapper {
      @media (min-width: $tablet-min-width) {
        width: 59%;
      }
    }

    picture {
      @media (min-width: $tablet-min-width) {
        width: 41%;
      }
    }

    .direction__image {
      @media (min-width: $tablet-min-width) {
        min-width: 148px;
        width: 100%;
      }
    }

    .direction__link {
      @media (min-width: $tablet-min-width) {
        position: absolute;
      }

      @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
        right: 20px;
        bottom: 25px;

        width: 30px;
        height: 20px;
      }

      @media (min-width: $desktop-min-width) {
        right: 39px;
        bottom: 37px;

        width: 45px;
        height: 30px;
      }
    }
  }
}

.direction__image {
  background-color: $reserve-image-bg;

  @media (max-width: $mobile-max-width) {
    width: 250px;
    min-height: 100px;
    margin-bottom: -5px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    margin-bottom: -4px;
  }

  @media (min-width: $desktop-min-width) {
    min-height: 139px;
    margin-bottom: -6px;
  }
}

.direction__wrapper {
  order: 1;

  background-color: $light-on-dark;

  @media (max-width: $mobile-max-width) {
    width: 44%;
    min-width: 207px;
    padding: 14px 20px 7px;
  }

  @media (min-width: $tablet-min-width) {
    flex-grow: 1;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    padding: 17px 20px 18px;
  }

  @media (min-width: $desktop-min-width) {
    padding: 27px 25px 17px 36px;
  }
}

.direction__title {
  margin-top: 0;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 4px;

    font-size: $direction-title-fs-mt;
  }

  @media (min-width: $desktop-min-width) {
    margin-bottom: 11px;

    font-size: $direction-title-fs-d;
  }
}

.direction__schedule {
  @media (max-width: $mobile-max-width) {
    margin-bottom: 4px;
  }

  @media (min-width: $desktop-min-width) {
    margin-bottom: 15px;

    font-size: $direction-schedule-fs-d;
  }
}

.direction__teacher {
  color: $accent;

  @media (max-width: $mobile-max-width) {
    margin-top: 0;
  }

  @media (min-width: $tablet-min-width) {
    width: 70%;
    margin: 5px 0 0;
  }

  @media (min-width: $desktop-min-width) {
    font-size: $direction-teacher-fs-d;
  }
}

.direction__teacher-label {
  display: block;
  margin-left: 2px;
}

.direction__link {
  order: 2;
  flex-grow: 1;

  background-color: $dark-on-light;
  background-image: url("../img/yoga-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 9px 13px;

  @media (max-width: $mobile-max-width) {
    width: 30px;
  }

  &:hover,
  &:focus {
    background-color: $dark-on-light-hover;
  }

  &:active {
    background-color: $dark-on-light-pressed;
  }
}
