.directions {
  background-repeat: no-repeat;

  @media (max-width: $mobile-max-width) {
    margin-top: -35px;
    padding-bottom: 15px;

    background-size: 216px 432px;
    background-position: 0 25%;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    margin-top: -45px;

    background-size: 291px 305px;
    background-position: 7% 41px;
  }

  @media (min-width: $desktop-min-width) {
    padding-top: 111px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-min-width) and (max-width: $desktop-max-width) {
    background-size: 82% auto;
    background-position: 60% 167px;
  }

  @media (min-width: $desktop-max-width) {
    background-size: 1172px 554px;
    background-position: center 159px;
  }

  &.webp {
    @media (max-width: $mobile-max-width) {
      background-image: url("../img/directions-bg-mob@1x.webp");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/directions-bg-mob@2x.webp");
      }
    }

    @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
      background-image: url("../img/directions-bg-tablet@1x.webp");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/directions-bg-tablet@2x.webp");
      }
    }

    @media (min-width: $desktop-min-width) {
      background-image: url("../img/directions-bg-desktop@1x.webp");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/directions-bg-desktop@2x.webp");
      }
    }
  }

  &.no-webp {
    @media (max-width: $mobile-max-width) {
      background-image: url("../img/directions-bg-mob@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/directions-bg-mob@2x.png");
      }
    }

    @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
      background-image: url("../img/directions-bg-tablet@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/directions-bg-tablet@2x.jpg");
      }
    }

    @media (min-width: $desktop-min-width) {
      background-image: url("../img/directions-bg-desktop@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/directions-bg-desktop@2x.jpg");
      }
    }
  }
}

.directions__title {
  @media (max-width: $mobile-max-width) {
    margin-bottom: 33px;
  }

  @media (min-width: $desktop-min-width) {
    margin-bottom: 52px;
  }
}

.directions__list {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $mobile-max-width) {
    justify-content: center;
    margin-right: -20px;
  }

  @media (min-width: $tablet-min-width) {
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    max-height: 436px;
  }

  @media (min-width: $desktop-min-width) {
    max-height: 550px;
    margin-left: -3%;
  }
}

.directions__item {
  @media (max-width: $mobile-max-width) {
    margin: 0 20px 30px 0;
  }
}

.directions__watch-more {
  @media (max-width: $mobile-max-width) {
    display: none;
  }

  @media (min-width: $tablet-min-width) {
    display: block;
    margin-left: auto;
    padding: 9px 20px 11px;

    text-align: center;
    color: $dark-on-light;

    background-color: $light-on-dark;
    box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);

    transform: translateY(-100%);
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    width: 57%;
  }

  @media (min-width: $desktop-min-width) {
    width: 45.32%;
    max-width: 525px;
    margin-left: 43.5%;
  }

  &:hover,
  &:focus {
    color: $light-on-dark;
    background-color: $dark-on-light-hover;
    outline: none;
  }

  &:active {
    background-color: $dark-on-light-pressed;
  }
}
