.direction {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;

  @media (max-width: $mobile-max-width) {
    width: 250px;
    max-width: 539px;
  }

  @media (min-width: $mobile-mid-min) and (max-width: $mobile-mid-max){
    width: 100%;
  }
}

.direction__image {
  background-color: #e3e3e1;

  @media (max-width: $mobile-max-width) {
    width: 250px;
    min-height: 100px;
  }
}

.direction__wrapper {
  order: 1;

  background-color: $light-on-dark;

  @media (max-width: $mobile-max-width) {
    width: 44%;
    min-width: 207px;
    padding: 14px 20px 7px;
  }
}

.direction__title {
  margin-top: 0;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 4px;
  }
}

.direction__schedule {
  @media (max-width: $mobile-max-width) {
    margin-bottom: 4px;
  }
}

.direction__teacher {
  margin-top: 0;

  color: $accent;
}

.direction__teacher-label {
  display: block;
}

.direction__link {
  order: 2;
  flex-grow: 1;

  background-color: $dark-on-light;
  background-image: url("../img/yoga-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 9px 13px;

  @media (max-width: $mobile-max-width) {
    width: 30px;
  }
}
