.members-slider {
  position: relative;

  @media (max-width: $mobile-max-width) {
    width: 230px;
    margin: 0 auto;
  }
}

.members-slider__btn {
  position: absolute;

  border: 1px solid $dark-on-light;

  background-color: transparent;
  background-image: url("../img/yoga-arrow-dark.svg");
  background-repeat: no-repeat;
  background-size: 5px 8px;
  background-position: center;

  @media (max-width: $mobile-max-width) {
    top: 26px;

    width: 16px;
    height: 31px;
  }

  &:hover,
  &:focus {
    background-color: $dark-on-light;
    background-image: url("../img/yoga-arrow.svg");
    outline: none;
  }

  &:active {
    background-color: $dark-on-light-pressed;
  }

  &--prev {
    transform: rotate(180deg);

    @media (max-width: $mobile-max-width) {
      left: -30px;
    }
  }

  &--next {
    @media (max-width: $mobile-max-width) {
      right: -30px;
    }
  }
}
