.members-slider {
  position: relative;

  @media (max-width: $mobile-max-width) {
    margin: 0 auto;
  }
}

.members-slider__btn {
  @media (max-width: $mobile-max-width) {
    top: 26px;

    width: 16px;
    height: 31px;
  }

  &--prev {
    transform: rotate(180deg);

    @media (max-width: $mobile-max-width) {
      left: -20px;
    }
  }

  &--next {
    @media (max-width: $mobile-max-width) {
      right: -20px;
    }
  }
}
