.members-slider {
  position: relative;

  @media (max-width: $mobile-max-width) {
    margin: 0 auto;
  }
}

.members-slider__btn {
  @media (max-width: $mobile-max-width) {
    top: 26px;

    width: 16px;
    height: 31px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    bottom: -40px;
  }

  @media (min-width: $tablet-min-width) {
    margin-left: 50%;
    margin-right: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $desktop-min-width) {
    bottom: -60px;
  }

  &--prev {
    transform: rotate(180deg);

    @media (max-width: $mobile-max-width) {
      left: -20px;
    }

    @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
      left: -50px;
    }

    @media (min-width: $desktop-min-width) {
      left: -65px;
    }
  }

  &--next {
    @media (max-width: $mobile-max-width) {
      right: -20px;
    }

    @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
      right: -50px;
    }

    @media (min-width: $desktop-min-width) {
      right: -65px;
    }
  }
}
