.nav {
  min-height: 35px;

  &--no-js {
    .nav__toggle {
      display: none;
    }

    .nav__list {
      @media (max-width: $mobile-max-width) {
        position: static;

        width: 160px;
        height: auto;

        background-color: transparent;
      }
    }

    .nav__item {
      @media (max-width: $mobile-max-width) {
        padding-bottom: 5px;
      }
    }

    .nav__link {
      color: $dark-on-light;
    }
  }

  &--opened {
    .nav__toggle {
      position: fixed;
      top: 10px;
      z-index: 3;

      outline: none;

      &:hover,
      &:focus {
        .nav__toggle-line {
          opacity: 1;

          &::before {
            opacity: 1;
          }

          &:active {
            background-color: $accent;

            &::before {
              background-color: $accent;
            }
          }
        }
      }
    }

    .nav__toggle-line {
      top: 0;

      transform: rotate(45deg);

      background-color: #ffffff;
      opacity: 0.7;

      &::before {
        top: 1px;

        transform: rotate(-90deg);

        background-color: #ffffff;
        opacity: 0.7;
      }

      &::after {
        display: none;
      }
    }

    .nav__list {
      display: block;
    }
  }
}

.nav__toggle {
  position: relative;

  width: 30px;
  height: 30px;
  padding: 0;
  border: none;

  background-color: transparent;
  outline: none;

  &:hover,
  &:focus {
    .nav__toggle-line {
      background-color: $light-on-dark;

      &::before,
      &::after {
        background-color: $light-on-dark;
      }
    }
  }

  &:active {
    .nav__toggle-line {
      background-color: $accent;

      &::before,
      &::after {
        background-color: $accent;
      }
    }
  }
}

.nav__toggle-line {
  background-color: $dark-on-light;

  transition-property: transform;
  transition-duration: 0.5s;

  @media (max-width: $mobile-max-width) {
    position: relative;
    top: -6px;

    display: block;
    width: 30px;
    height: 1px;
  }

  &::before,
  &::after {
    content: "";

    position: absolute;

    display: block;
    height: 1px;

    background-color: $dark-on-light;
  }

  &::before {
    top: 6px;

    @media (max-width: $mobile-max-width) {
      width: 30px;
    }
  }

  &::after {
    top: 12px;

    @media (max-width: $mobile-max-width) {
      width: 20px;
    }
  }
}

.nav__list {
  position: fixed;
  top: 0;
  left: -260px;
  z-index: 2;

  display: none;
  width: 260px;
  height: 100%;
  padding-top: 50px;

  font-family: $geometria;

  background-color: #8e80a9;

  @media (max-width: $tablet-max-width) {
    font-size: $nav-mt-fs;
  }

  &--animation-on {
    left: 0;

    animation-name: nav-slide-on;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
  }

  &--animation-off {
    display: block;

    animation-name: nav-slide-off;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
  }
}

.nav__item {
  padding: 15px 30px 15px 30px;

  border-bottom: $nav-item-border;
}

.nav__link {
  color: $light-on-dark;

  outline: none;
  opacity: 0.9;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    color: $accent;
  }
}

@keyframes nav-slide-on {
  0% {
    left: -260px;
  }

  100% {
    left: 0;
  }
}

@keyframes nav-slide-off {
  0% {
    left: 0;
  }

  100% {
    left: -260px;
  }
}
