.page-footer {
  color: $light-on-dark;

  background-color: $footer-bg-color;

  @media (max-width: $mobile-max-width) {
    padding-bottom: 23px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    padding-bottom: 67px;
  }

  @media (min-width: $desktop-min-width) {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: 726px;
    margin-top: 41px;
    padding-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
//     padding-bottom: 100px;

    background-size: 1920px auto;
    background-position: center top;
    background-repeat: no-repeat;
  }

  .container {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $desktop-min-width) {

      width: 56%;
      margin-left: 0;
      margin-right: 0;
    }

    &:last-of-type {
      @media (min-width: $desktop-min-width) {
        width: 100%;
        padding-bottom: 20px;
      }
    }
  }

  &.webp {
    @media (min-width: $desktop-min-width) {
      background-image: url("../img/footer-bg-desktop@1x.webp");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/footer-bg-desktop@2x.webp");
      }
    }
  }
}

.page-footer__info {
  display: flex;
  flex-wrap: wrap;

  font-style: normal;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 5px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    width: 100%;
  }

  @media (min-width: $desktop-min-width) {
    align-items: flex-start;
    margin-top: 100px;
    margin-left: 20%;
    padding-right: 20px;

    color: $dark-on-light;
  }
}

.page-footer__info-wrapper {
  display: flex;
  flex-direction: column;

  @media (max-width: $mobile-max-width) {
    width: 250px;
    margin-bottom: 18px;
    padding-right: 20px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    width: 35%;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-min-width) {
    width: 43%;
    margin-bottom: 30px;
  }
}

.page-footer__info-title {
  font-size: $footer-info-title-fs;
}

.page-footer__info-data {
  font-size: $footer-info-data-fs;

  .page-footer__phone,
  .page-footer__email {

    @media (max-width: $tablet-max-width) {
      color: $light-on-dark;
    }

    @media (min-width: $desktop-min-width) {
      color: $dark-on-light;
    }
  }

  .page-footer__phone {
    @media (max-width: $mobile-max-width) {
      font-size: 14px;
    }
  }
}

.page-footer__socials {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  @media (max-width: $mobile-max-width) {
    width: 250px;
    margin-bottom: 7px;
    padding-right: 20px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    width: 35%;
    margin-top: 13px;
  }

  @media (min-width: $desktop-min-width) {
    width: 20%;
    margin-left: 20%;
  }
}

.page-footer__social {
  @media (max-width: $mobile-max-width) {
    margin-right: 25px;
    margin-bottom: 10px;
  }

  @media (min-width: $tablet-min-width) {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.page-footer__social-link {
  &:hover,
  &:focus {
    outline: none;

    .page-footer__social-icon {
      fill: $accent-hover;
    }
  }

  &:active {
    .page-footer__social-icon {
      fill: $accent-pressed;
    }
  }
}

.page-footer__social-icon {
  @media (max-width: $tablet-max-width) {
    fill: #ffffff;
  }

  @media (min-width: $desktop-min-width) {
    fill: $dark-on-light;
  }

  &--vk {
    @media (max-width: $mobile-max-width) {
      margin-top: 3px;
    }

    @media (min-width: $tablet-min-width) {
      width: 13px;
      height: 8px;
    }
  }

  &--twitter {
    @media (min-width: $tablet-min-width) {
      width: 15px;
      height: 10px;
    }
  }

  &--fb {
    @media (min-width: $tablet-min-width) {
      width: 5px;
      height: 11px;
    }
  }
}

.page-footer .container.page-footer__copyright-wrapper {
  @media (min-width: $desktop-min-width) {
    position: absolute;
    bottom: 10px;
    left: 50%;

    width: 77%;
    order: 2;

    transform: translateX(-50%);
  }
}

.page-footer__copyright {
  display: flex;

  @media (max-width: $mobile-max-width) {
    width: 250px;

    font-size: 12px;
  }

  @media (min-width: $tablet-min-width) {
    margin-top: 0;
  }

  @media (max-width: $tablet-max-width) {
    flex-direction: column;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    width: 210px;

    font-size: 14px;
  }

  @media (min-width: $desktop-min-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
}

.page-footer__copyright-text {
  @media (max-width: $mobile-max-width) {
    margin-bottom: 14px;
  }

  @media (min-width: $desktop-min-width) {
    order: 1;
    width: 250px;

    text-align: right;
  }
}

.page-footer__copyright-link {
  color: $light-on-dark;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-min-width) {
    width: 250px;
  }
}
