.page-header {
  background-repeat: no-repeat;
  background-color: #fcf8fe;

  @media (max-width: $mobile-max-width) {
    padding-top: 10px;
    padding-bottom: 83px;
  }

  @media (max-width: $header-bg-point-mob) {
    background-size: 529px 336px;
    background-position: top center;
  }

  @media (min-width: $header-bg-point-mob + 1) {
    background-size: 767px 487px;
    background-position: bottom center;
  }

  &.webp {
    @media (max-width: $header-bg-point-mob) {
      background-image: url("../img/header-bg-mobile@1x.webp");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/header-bg-mobile@2x.webp");
      }
    }

    @media (min-width: $header-bg-point-mob + 1) {
      background-image: url("../img/header-bg-mobile-max@1x.webp");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/header-bg-mobile-max@2x.webp");
      }
    }
  }

  .no-webp {
    @media (max-width: $header-bg-point-mob) {
      background-image: url("../img/header-bg-mobile@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/header-bg-mobile@2x.png");
      }
    }

    @media (min-width: $header-bg-point-mob + 1) {
      background-image: url("../img/header-bg-tablet@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/header-bg-tablet@2x.png");
      }
    }
  }
}

.page-header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 55px;
  }
}

.page-header__phone {
  line-height: $body-lh;
  color: $dark-on-light;

  @media (max-width: $tablet-max-width) {
    max-width: 230px;
    margin-left: 20px;

    font-size: $header-phone-mt-fs;
  }

  @media (min-width: $desktop-min-width) {
    font-size: $header-phone-d-fs;
  }
}

.page-header__slogan {
  display: flex;
  flex-direction: column;
  align-items: center;

  line-height: $lh-min;
  color: $light-on-dark;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 17px;

    font-size: $header-slogan-m-fs;
  }
}

.page-header__invitation {
  position: relative;

  line-height: $body-lh;
  color: $accent;

  @media (max-width: $mobile-max-width) {
    width: 175px;
    margin-bottom: 10px;
    padding-left: 37px;

    line-height: 1.4;
  }

  @media (max-width: $tablet-max-width) {
    font-size: $header-invitation-mt-fs;
  }

  @media (min-width: $desktop-min-width) {
    font-size: $header-invitation-d-fs;
  }

  &::before,
  &::after {
    content: "";

    position: absolute;
  }

  &::before {
    left: 0;
    top: 1px;

    background-color: $accent;

    @media (max-width: $mobile-max-width) {
      width: 30px;
      height: 26px;
    }
  }

  &::after {
    content: "";

    top: 9px;
    left: 13px;

    background-image: url("../img/yoga-arrow.svg");
    background-repeat: no-repeat;

    filter:
      drop-shadow(0 4px 2px rgba(0, 0, 0, 0.5))
      drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

    @media (max-width: $mobile-max-width) {
      width: 5px;
      height: 9px;

      background-size: 5px 9px;
    }
  }

  &:hover,
  &:focus {
    color: $accent-hover;

    &::before {
      background-color: $accent-hover;
    }
  }

  &:active {
    color: $accent-pressed;

    &::before {
      background-color: $accent-pressed;
    }
  }
}
