.page-header {
  background-size: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;

  @media (max-width: $mobile-max-width) {
    padding-top: 10px;
    padding-bottom: 83px;
  }

  @media (max-width: $header-bg-point-mob) {
    background-size: 529px 336px;
    background-position: top center;
  }

  @media (min-width: $header-bg-point-mob + 1) and (max-width: $mobile-max-width) {
    background-size: 767px 487px;
    background-position: bottom center;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    padding-top: 26px;
    padding-bottom: 116px;
  }

  @media (min-width: $desktop-min-width) {
    padding-top: 65px;

    background-position: 0 100%;
    background-size: cover;
  }

  &.webp {
    background-repeat: no-repeat;

    @media (max-width: $header-bg-point-mob) {
      background-image: url("../img/header-bg-mobile@1x.webp");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/header-bg-mobile@2x.webp");
      }
    }

    @media (min-width: $header-bg-point-mob + 1) and (max-width: $mobile-max-width) {
      background-image: url("../img/header-bg-mobile-max@1x.webp");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/header-bg-mobile-max@2x.webp");
      }
    }

    @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
      background-image: url("../img/header-bg-tablet@1x.webp");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/header-bg-tablet@2x.webp");
      }
    }

    @media (min-width: $desktop-min-width) {
      background-image: url("../img/header-bg-desktop@1x.webp");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/header-bg-desktop@2x.webp");
      }
    }
  }

  &.no-webp {
    @media (max-width: $header-bg-point-mob) {
      background-image: url("../img/header-bg-mobile@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/header-bg-mobile@2x.jpg");
      }
    }

    @media (min-width: $header-bg-point-mob + 1) {
      background-image: url("../img/header-bg-mobile-max@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/header-bg-mobile-max@2x.jpg");
      }
    }

    @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
      background-image: url("../img/header-bg-tablet@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/header-bg-tablet@2x.jpg");
      }
    }

    @media (min-width: $desktop-min-width) {
      background-image: url("../img/header-bg-desktop@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/header-bg-desktop@2x.jpg");
      }
    }
  }
}

.page-header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    align-items: flex-start;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-min-width) {
    margin-bottom: 102px;
  }
}

.page-header__nav {
  @media (min-width: $tablet-min-width) {
    position: relative;
  }
}

.page-header__phone {
  line-height: $body-lh;
  color: $dark-on-light;

  transition-property: color;
  transition-duration: 0.3s;

  @media (max-width: $tablet-max-width) {
    max-width: 230px;
    margin-left: 20px;

    font-size: $header-phone-mt-fs;
  }

  @media (min-width: $desktop-min-width) {
    font-size: $header-phone-d-fs;
  }

  &:hover,
  &:focus {
    color: $accent-hover;
    outline: none;
  }

  &:active {
    color: $accent-pressed;
  }
}

.page-header__slogan {
  display: flex;
  flex-direction: column;
  align-items: center;

  line-height: $lh-min;
  color: $light-on-dark;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 17px;

    font-size: $header-slogan-m-fs;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    padding-left: 20px;
    font-size: $header-slogan-t-fs;
    letter-spacing: 4px;
  }

  @media (min-width: $desktop-min-width) {
    margin-bottom: 6px;

    letter-spacing: 6px;
  }

  @media (min-width: $desktop-min-width) and (max-width: $desktop-max-width - 1) {
    font-size: $header-slogan-d-fs;
  }

  @media (min-width: $desktop-max-width) {
    font-size: $header-slogan-max-fs;
  }
}

.page-header__slogan-img-text {
  flex-shrink: 0;

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    width: 310px;
    margin-left: -40px;
  }

  @media (min-width: $desktop-min-width) {
    width: 582px;
    margin-bottom: -8px;
  }
}

.page-header__invitation {
  position: relative;

  line-height: $body-lh;
  color: $accent;

  transition-property: color;
  transition-duration: 0.3s;

  @media (max-width: $mobile-max-width) {
    width: 175px;
    margin-bottom: 10px;
    padding-left: 37px;

    line-height: 1.4;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    width: 210px;
    margin-top: -3px;
    margin-left: 53px;
    padding-left: 37px;
  }

  @media (max-width: $tablet-max-width) {
    font-size: $header-invitation-mt-fs;
  }

  @media (min-width: $desktop-min-width) {
    width: 300px;
    margin-bottom: 70px;
    padding-top: 6px;
    padding-left: 70px;

    font-size: $header-invitation-d-fs;
  }

  &::before,
  &::after {
    content: "";

    position: absolute;
  }

  &::before {
    left: 0;
    top: 1px;

    background-color: $accent;

    transition-property: background-color;
    transition-duration: 0.3s;

    @media (max-width: $tablet-max-width) {
      width: 30px;
      height: 26px;
    }

    @media (min-width: $desktop-min-width) {
      width: 56px;
      height: 48px;
    }
  }

  &::after {
    content: "";

    top: 9px;
    left: 13px;

    background-image: url("../img/yoga-arrow.svg");
    background-repeat: no-repeat;

    filter:
      drop-shadow(0 4px 2px rgba(0, 0, 0, 0.5))
      drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

    @media (max-width: $tablet-max-width) {
      width: 5px;
      height: 9px;

      background-size: 5px 9px;
    }

    @media (min-width: $desktop-min-width) {
      top: 16px;
      left: 24px;

      width: 9px;
      height: 17px;

      background-size: 9px 17px;
    }
  }

  &:hover,
  &:focus {
    color: $accent-hover;
    outline: none;

    &::before {
      background-color: $accent-hover;
    }
  }

  &:active {
    color: $accent-pressed;

    &::before {
      background-color: $accent-pressed;
    }
  }
}

.page-header__bottom {
  @media (max-width: $mobile-max-width) {
    display: none;
  }

  @media (min-width: $tablet-min-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 54px;
  }
}

.page-header__socials {
  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    max-width: 250px;
  }

  @media (min-width: $tablet-min-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 40px;
  }
}

.page-header__social {
  @media (min-width: $tablet-min-width) {
    margin-right: 10px;
  }
}

.page-header__social-link {
  &:hover,
  &:focus {
    outline: none;

    .page-header__social-icon {
      fill: $accent-hover;
    }
  }

  &:active {
    .page-header__social-icon {
      fill: $accent-pressed;
    }
  }
}

.page-header__social-icon {
  transition-property: fill;
  transition-duration: 0.3s;

  @media (min-width: $tablet-min-width) {
    fill: $dark-on-light;
  }
}

.page-header__city {
  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    max-width: 400px;

    font-size: $header-city-fs-t;
  }

  @media (min-width: $desktop-min-width) {
    font-size: $header-city-fs-d;
  }
}
