.registration {
  line-height: 1.4;

  background-color: #ede9fb;
  background-repeat: no-repeat;
  background-position: center top;


  @media (max-width: $mobile-max-width) {
    margin-bottom: 41px;
    padding: 61px 0 50px;

    background-size: 767px 391px;
  }

  &.webp {
    @media (max-width: $mobile-max-width) {
      background-image: url("../img/registration-bg-mob@1x.webp");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/registration-bg-mob@2x.webp");
      }
    }
  }

  &.no-webp {
    @media (max-width: $mobile-max-width) {
      background-image: url("../img/registration-bg-mob@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/registration-bg-mob@2x.jpg");
      }
    }
  }

  .container {
    @media (max-width: $mobile-max-width) {
      position: relative;

      display: flex;
      flex-direction: column;
      max-width: 480px;
    }
  }
}

.registration__title {
  color: $dark-on-light;

  @media (max-width: $mobile-max-width) {
    margin: 0 0 26px;
    font-size: $registration-fs-m;
  }
}

.registration__form {
  display: flex;
  flex-direction: column;
}

.registration__label {
  position: relative;

  @media (max-width: $mobile-max-width) {
    height: 29px;
  }

  &:not(:last-of-type) {
    @media (max-width: $mobile-max-width) {
       margin-bottom: 30px;
    }
  }
}

.registration__send-icon {
  position: absolute;
  left: 50%;

  border-radius: 50%;

  background-repeat: no-repeat;

  @media (max-width: $mobile-max-width) {
    top: 30px;

    width: 100px;
    height: 100px;

    transform: translateX(-50%);

    background-size: 90px 90px;
  }

  &--progress {
    background-position: center;

    @media (max-width: $mobile-max-width) {
      background-image: url("../img/form-send.svg");
    }
  }

  &--success {
    background-color: yellowgreen;
    background-image: url("../img/form-success.svg");
    background-position: center 25px;
    background-size: 60px 60px;
  }

  &--error {
    background-color: #c90000;
    background-image: url("../img/form-error.svg");
    background-size: 50px 50px;
    background-position: center;
  }
}

.registration__input {
  border: none;
  border-bottom: 1px solid $dark-on-light;

  background-color: transparent;

  @media (max-width: $mobile-max-width) {
    width: 100%;
    padding-bottom: 11px;

    font-size: $reg-input-fs-m;
    color: $reg-input-text-color;
  }

  &:-ms-input-placeholder {
    font-weight: normal;
    color: $reg-placeholder-color;
  }

  &:-moz-placeholder {
    font-weight: normal;
    color: $reg-placeholder-color;
  }

  &::-moz-placeholder {
    font-weight: normal;
    color: $reg-placeholder-color;
  }

  &::-webkit-input-placeholder {
    font-weight: normal;
    color: $reg-placeholder-color;
  }

  &:hover {
    &:-ms-input-placeholder {
      font-weight: normal;
      color: $reg-placeholder-color-hover;
    }

    &:-moz-placeholder {
      color: $reg-placeholder-color-hover;
    }

    &::-moz-placeholder {
      color: $reg-placeholder-color-hover;
    }

    &::-webkit-input-placeholder {
      color: $reg-placeholder-color-hover;
    }
  }

  &:focus {
    outline: none;
  }
}

input.registration__error-message {
  border-bottom-color: $reg-valid-error-color;
}

span.registration__error-message {
  position: absolute;
  left: 0;

  width: 100%;

  color: $reg-valid-error-color;

  @media (max-width: $mobile-max-width) {
    bottom: -20px;
  }
}

.registration__submit {
  border: 0;

  background-color: $accent;

  @media (max-width: $mobile-max-width) {
    margin: 34px 0 20px;
    padding: 20px 10px;

    font-size: $reg-input-fs-m;
    color: $light-on-dark;
  }

  &:hover,
  &:focus {
    background-color: $accent-hover;
    outline: none;

    cursor: pointer;
  }

  &:active {
    background-color: $accent-pressed;
  }
}

.registration__message-text-wrapper {
  position: absolute;
  left: 50%;

  display: flex;
  flex-direction: column;
  width: 100%;

  transform: translateX(-50%);

  @media (max-width: $mobile-max-width) {
    bottom: 20px;
  }
}

.registration__message {
  text-align: center;
  color: #8373a1;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 10px;

    font-size: 14px;
  }
}

.registration__further-actions {
  border: none;

  color: #e65c7b;

  background-color: transparent;
  cursor: pointer;

  @media (max-width: $mobile-max-width) {
   margin-bottom: 20px;

    font-size: 14px;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
    outline: none;
  }

  &:active {
    color: #c74562;
    text-decoration: none;
  }
}