.review {
  display: flex;
  flex-direction: column;
  width: 100%;

  background-color: $light-on-dark;
  box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);

  @media (max-width: $mobile-max-width) {
    margin: 35px 15px 35px;
    padding: 59px 15px 28px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    margin: 20px 10px 40px;
    padding: 73px 60px 27px 87px;

    font-size: $review-text-fs;
  }

  @media (min-width: $desktop-min-width) {
    margin: 30px;
    padding: 73px 40px 20px 90px;
  }
}

.review__text {
  position: relative;

  margin: 0;

  @media (min-width: $desktop-min-width) {
    font-size: $review-text-fs;
  }

  &::before {
    content: "";

    position: absolute;
    top: -41px;

    width: 28px;
    height: 23px;

    background-image: url("../img/quotes.svg");
    background-repeat: no-repeat;
  }
}

.review__author {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: auto;
}

.review__avatar {
  background-color: #e7e0ee;
}

.review__paragraph {
  margin-top: 0;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 15px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    margin-bottom: 26px;
  }

  &:last-of-type {
    margin-bottom: 25px;
  }
}

.review__author-wrapper {
  margin-left: 13px;

  @media (max-width: $mobile-max-width) {
    width: 155px;
  }
}

.review__author-name {
  display: block;

  font-weight: normal;
  color: $accent;

  @media (max-width: $mobile-max-width) {
    width: 150px;
    margin-top: -4px;

    font-size: $author-name-fs;
  }

  @media (min-width: $desktop-min-width) {
    font-size: $author-name-fs;
  }
}

.review__time {
  display: block;

  font-size: $review-time-fs;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 10px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    margin-bottom: 3px;
  }
}

.review__socials {
  display: flex;
  flex-wrap: wrap;
}

.review__social {
  @media (max-width: $tablet-max-width) {
    margin-right: 11px;
  }

  @media (min-width: $desktop-min-width) {
    margin-right: 5px;
  }
}

.review__social-link {
  &:hover,
  &:focus {
    outline: none;

    .review__social-icon {
      opacity: 1;
    }
  }

  &:active {
    .review__social-icon {
      fill: #7869ac;
    }
  }
}

.review__social-icon {
  fill: #8b7eac;
  opacity: 0.65;
}
