.reviews {
  padding-top: 20px;
  padding-bottom: 69px;
}

.reviews__title {
  @media (max-width: $mobile-max-width) {
    margin-bottom: 33px;
  }
}

.reviews__slider {
  @media (max-width: $mobile-max-width) {
    margin-top: -35px;
  }
}

.reviews__btn {
  @media (max-width: $mobile-max-width) {
    width: 30px;
    height: 20px;
  }

  &--prev {
    @media (max-width: $mobile-max-width) {
      left: 64px;
      transform: rotate(180deg);
    }
  }

  &--next {
    @media (max-width: $mobile-max-width) {
      right: 63px;
    }
  }
}

.reviews__nav-page {
  display: inline-block;

  &--current {
    margin-right: 3px;
  }

  &--all {
    margin-left: 3px;
  }
}
