.review {
  background-color: $light-on-dark;

  @media (max-width: $mobile-max-width) {
    margin: 35px 15px 35px;
    padding: 59px 15px 28px;

    box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
  }
}

.review__text {
  position: relative;

  margin: 0;

  &::before {
    content: "";

    position: absolute;
    top: -41px;

    width: 28px;
    height: 23px;

    background-image: url("../img/quotes.svg");
    background-repeat: no-repeat;
  }
}

.review__author {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.review__paragraph {
  margin-top: 0;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 15px;
  }

  &:last-of-type {
    margin-bottom: 25px;
  }
}

.review__author-wrapper {
  @media (max-width: $mobile-max-width) {
    width: 155px;
    margin-left: 13px;
  }
}

.review__author-name {
  display: block;

  @media (max-width: $mobile-max-width) {
    width: 150px;
    margin-top: -4px;

    font-size: $author-name-fs-m;
    font-weight: normal;
    color: $accent;
  }
}

.review__time {
  display: block;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 10px;
  }
}

.review__socials {
  display: flex;
  flex-wrap: wrap;
}

.review__social {
  @media (max-width: $mobile-max-width) {
    margin-right: 11px;
  }
}

.review__social-link {
  &:hover,
  &:focus {
    outline: none;

    .review__social-icon {
      opacity: 1;
    }
  }

  &:active {
    .review__social-icon {
      fill: #7869ac;
    }
  }
}

.review__social-icon {
  fill: #8b7eac;
  opacity: 0.65;
}

.reviews__nav {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  @media (max-width: $mobile-max-width) {
    max-width: 230px;
    margin: -6px auto 0;

   font-size: 12px;
  }
}
