.reviews-slider {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reviews-slider__item-wrapper {
  outline: 0;

  @media (max-width: $mobile-mid-max) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
