.reviews {
  padding-top: 20px;
  padding-bottom: 69px;
}

.reviews__title {
  @media (max-width: $mobile-max-width) {
    margin-bottom: 33px;
  }

  @media (min-width: $tablet-min-width) {
    margin-bottom: 12px;
  }

  @media (min-width: $desktop-min-width) {
    margin-top: -300px;
    margin-bottom: 19px;
  }
}

.reviews__slider {
  @media (max-width: $mobile-max-width) {
    margin-top: -35px;
  }

  .reviews__btn {
    @media (min-width: $desktop-min-width) {
      background-color: $dark-on-light;
      background-image: url("../img/yoga-arrow.svg");
      border-color: transparent;
    }

    &:hover,
    &:focus {
      @media (min-width: $desktop-min-width) {
        background-color: $dark-on-light-hover;
      }
    }

    &:active {
      @media (min-width: $desktop-min-width) {
        background-color: $dark-on-light-pressed;
      }
    }
  }
}

.reviews__btn {
  @media (max-width: $mobile-max-width) {
    width: 30px;
    height: 20px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
      top: -2px;
  }

  @media (min-width: $desktop-min-width) {
    top: 172px;
    z-index: 1;
  }

  &--prev {
    transform: rotate(180deg);

    @media (max-width: $mobile-max-width) {
      left: 64px;
    }

    @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
      margin-left: -35px;
    }

    @media (min-width: $desktop-min-width) {
      left: 10px;
    }
  }

  &--next {
    @media (max-width: $mobile-max-width) {
      right: 63px;
    }

    @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
      margin-left: 35px;
    }

    @media (min-width: $desktop-min-width) {
      right: 5px;
    }
  }
}

.reviews__nav-page {
  display: inline-block;

  &--current {
    margin-right: 3px;
  }

  &--all {
    margin-left: 3px;
  }
}
