.reviews-slider {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-min-width) {
    width: 67%;
    margin-left: auto;
    margin-right: auto;
  }

  .slick-track {
    display: flex;
  }
}

.reviews-slider__item-wrapper.slick-slide {
  display: flex;
  height: auto;

  outline: none;

  @media (max-width: $mobile-mid-max) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.reviews-slider__item-wrapper:nth-of-type(even) .review {
  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    margin-right: 5%;
  }

  @media (min-width: $desktop-min-width) {
    margin-left: 10px;
  }
}

.reviews-slider__item-wrapper:nth-of-type(odd) .review {
  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    margin-left: 5%;
  }

  @media (min-width: $desktop-min-width) {
    margin-right: 10px;
  }
}
