.subscriptions {
  background-repeat: no-repeat;

  @media (max-width: $mobile-min-width) {
    background-image: url("../img/subscriptions-bg-mob.png");
    background-position: center bottom;
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 15px;
  }

  @media (min-width: $mobile-min-width + 1) and (max-width: $mobile-max-width) {
    background-position: center center;
  }

  @media (min-width: $mobile-min-width + 1) and (max-width: $tablet-max-width) {
    background-image: url("../img/subscriptions-bg-tab.png");
  }
}

.subscriptions__title {
  @media (max-width: $mobile-max-width) {
    margin-bottom: 27px;
  }
}

.subscriptions__subscription-times {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  font-size: $subscr-time-btn-fs;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 30px;
  }
}

.subscriptions__time-btn {
  color: $accent;
}

.subscriptions__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: $mobile-max-width) {
    margin-right: -20px;
  }
}

.subscriptions__item {
  margin: 0 20px 30px 0;
}
