.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;

  background-color: $light-on-dark;
  box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);

  transition-property: width, height;
  transition-duration: 300ms;

  outline-color: $dark-on-light;

  @media (max-width: $mobile-max-width) {
    min-width: 250px;
    padding: 21px 20px 31px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    width: 28.3%;
    padding: 30px 10px 23px;
  }

  @media (min-width: $desktop-min-width) {
    width: 23%;
    min-width: 190px;
    padding: 53px 10px 43px;
  }

  &--best {
    transition-delay: 300ms;

    @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
      width: 35.5%;
    }

    @media (min-width: $desktop-min-width) {
      width: 29%;
      min-width: 220px;
    }

    .subscription__link {
      @media (min-width: $tablet-min-width) {
        display: block;
      }
    }
  }
}

.subscription__title {
  margin-top: 0;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 9px;

    font-size: $subscr-title-m-fs;
  }

  @media (min-width: $tablet-min-width) {
    font-size: $subscr-title-td-fs;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    margin-bottom: 6px;
  }
}

.subscription__text {
  display: flex;
  flex-direction: column;
  margin-top: 0;

  text-align: center;
  color: $accent;

  @media (max-width: $mobile-max-width) {
    width: 145px;
    margin-bottom: 6px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    width: 145px;
  }

  @media (min-width: $desktop-min-width) {
    width: 170px;
    margin-bottom: 17px;
    font-size: $subscr-text-d-fs;
  }
}

.subscription__price {
  @media (max-width: $mobile-max-width) {
    font-size: $subscr-price-m-fs;
  }

  @media (min-width: $tablet-min-width) {
    margin-bottom: auto;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    font-size: $subscr-price-t-fs;
  }

  @media (min-width: $desktop-min-width) {
    margin-bottom: auto;
    font-size: $subscr-price-d-fs;
  }
}

.subscription__link {
  color: $light-on-dark;
  text-align: center;

  background-color: $dark-on-light;

  transition-property: color, background-color;
  transition-duration: $short-transition;

  @media (max-width: $mobile-max-width) {
    width: 148px;
    margin-top: 18px;
    padding: 9px 10px 10px;
  }

  @media (min-width: $tablet-min-width) {
    display: none;
    width: 170px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    margin-top: 12px;
    padding: 10px 24px;
  }

  @media (min-width: $desktop-min-width) {
    margin-top: 26px;
    padding: 15px;

    font-size: $subscr-link-d-fs;
  }

  &:hover,
  &:focus {
    background-color: $accent-hover;
    outline: none;
  }

  &:active {
    background-color: $dark-on-light-pressed;
  }
}
