.subscriptions {
  background-repeat: no-repeat;

  @media (max-width: $mobile-max-width) {
    padding-top: 15px;
    padding-bottom: 33px;

    background-size:
      767px 451px,
      307px 274px;
    background-position:
      center center,
      13px 608px;
  }

  @media (min-width: $mobile-min-width + 1) and (max-width: $mobile-max-width) {
    background-position:
      center center,
      center bottom -39px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    padding-top: 74px;
    padding-bottom: 150px;

    background-size:
      238px 193px,
      100%;
    background-position:
      bottom 14% right 10%,
      left 142px;
  }

  &.webp {
    @media (max-width: $mobile-max-width) {
      background-image:
        url("../img/subscriptions-bg-mob@1x.webp"),
        url("../img/subscriptions-team-bg-mob@1x.webp");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image:
          url("../img/subscriptions-bg-mob@2x.webp"),
          url("../img/subscriptions-team-bg-mob@2x.webp");
      }
    }

    @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
      background-image:
        url("../img/subscriptions-team-bg-tablet@1x.webp"),
        url("../img/subscriptions-bg-tablet@1x.webp");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image:
          url("../img/subscriptions-team-bg-tablet@2x.webp")
          url("../img/subscriptions-bg-tablet@2x.webp");
      }
    }
  }

  &.no-webp {
    @media (max-width: $mobile-max-width) {
      background-image:
        url("../img/subscriptions-team-bg-mob@1x.jpg"),
        url("../img/subscriptions-bg-mob@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image:
          url("../img/subscriptions-team-bg-mob@2x.jpg")
          url("../img/subscriptions-bg-mob@2x.jpg");
      }
    }
  }
}

.subscriptions__title {
  @media (max-width: $mobile-max-width) {
    margin-bottom: 27px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    margin-bottom: 12px;
  }
}

.subscriptions__subscription-times {
  display: flex;
  flex-wrap: wrap;

  font-size: $subscr-time-btn-fs;

  @media (max-width: $mobile-max-width) {
    justify-content: space-around;
    margin-bottom: 30px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    justify-content: center;
    margin-left: -32px;
    margin-bottom: 31px;
  }
}

.subscriptions__time-item {
  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    margin-left: 32px;
    margin-bottom: 10px;
  }
}

.subscriptions__time-btn {
  color: $accent;

  &:hover,
  &:focus {
    color: $accent-hover;
  }

  &:active {
    color: $accent-pressed;
  }

  &--current {
    border-bottom: 1px solid $accent;
  }
}

.subscriptions__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: $mobile-max-width) {
    margin-right: -20px;
  }

  @media (min-width: $tablet-min-width) {
    align-items: flex-start;
  }
}

.subscriptions__item {
  margin: 0 20px 28px 0;

  &:last-of-type {
    margin-right: 0;
  }
}
