.team {
  background-repeat: no-repeat;

  @media (max-width: $mobile-max-width) {
    padding-bottom: 30px;

    background-position: left -15px;
    background-size: 270px 300px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    min-height: 485px;
    padding-bottom: 40px;
    background-position: left 43px;
    background-size: 268px auto;
  }

  @media (min-width: $desktop-min-width) {
    padding-bottom: 470px;
  }

  @media (min-width: $desktop-min-width) {

    background-size:
      28% auto,
      30% auto;
    background-position:
      0 0,
      96% 20%;
  }

  &.webp {
    @media (max-width: $mobile-max-width) {
      background-image: url("../img/team-bg-mob@1x.webp");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/team-bg-mob@2x.webp");
      }
    }

    @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
      background-image: url("../img/team-bg-tablet@1x.webp");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/team-bg-tablet@2x.webp");
      }
    }

    @media (min-width: $desktop-min-width) {
      background-image:
        url("../img/team-bg-desktop@1x.webp"),
        url("../img/subscriptions-team-bg-desktop@1x.webp");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image:
          url("../img/team-bg-desktop@2x.webp"),
          url("../img/subscriptions-team-bg-desktop@2x.webp");
      }
    }
  }

  &.no-webp {
    @media (max-width: $mobile-max-width) {
      background-image: url("../img/team-bg-mob@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/team-bg-mob@2x.jpg");
      }
    }

    @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
      background-image: url("../img/team-bg-tablet@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/team-bg-tablet@2x.jpg");
      }
    }

    @media (min-width: $desktop-min-width) {
      background-image:
        url("../img/team-bg-desktop@1x.png"),
        url("../img/subscriptions-team-bg-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image:
          url("../img/team-bg-desktop@2x.png"),
          url("../img/subscriptions-team-bg-desktop@2x.png");
      }
    }
  }
}

.team__title {
  @media (max-width: $mobile-max-width) {
    margin-bottom: 32px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    margin-top: -54px;
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-min-width) {
    margin-top: -209px;
    margin-bottom: 52px;
  }
}
