.team-member {
  @media (max-width: $mobile-max-width) {
    margin: 0 auto;
    padding: 0 10px;
  }

  @media (min-width: $mobile-mid-max + 1) {
    width: 250px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    padding-top: 36px;
  }

  &:focus {
    outline: none;
  }

  &.slick-slide {
    @media (min-width: $tablet-min-width) {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
    }
  }
}

.team-member__header {
  display: flex;
  flex-wrap: wrap;

  background-color: #ffffff;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 21px;
  }

  @media (min-width: $tablet-min-width) {
    position: relative;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    width: 254px;
    min-height: 67px;
    margin-left: 18px;
    padding: 9px 10px 10px 83px;
  }
}

.team-member__header-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.team-member__text-wrapper {
  order: 1;

  @media (max-width: $mobile-max-width) {
    width: 109px;
    padding: 16px 8px 11px 16px;
  }
}

.team-member__title {
  margin-top: 0;

  font-size: $team-member-title-fs-mt;
  font-weight: normal;
  color: $accent;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 6px;
  }
}

.team-member__status,
.team-member__name {
  display: block;
}

.team-member__avatar {
  background-color: $reserve-image-bg;

  @media (max-width: $mobile-max-width) {
    width: 82px;
    height: 82px;
    margin-left: 1px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    position: absolute;
    top: -36px;
    left: -18px;

    width: 91px;
    height: 91px;
  }
}

.team-member__socials {
  @media (max-width: $mobile-max-width) {
    margin-left: auto;
    margin-right: 20px;
    padding-top: 20px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    margin: 12px 10px 0 auto;
  }
}

.team-member__social {
  @media (max-width: $mobile-max-width) {
    margin-bottom: 15px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    margin-bottom: 5px;
  }
}

.team-member__description-wrapper {
  @media (min-width: $tablet-min-width) {
    width: 49.5%;
    margin-left: 40px;
  }
}

.team-member__description-title {
  @media (max-width: $mobile-max-width) {
    display: none;
  }

  @media (min-width: $tablet-min-width) {
    display: block;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    margin-top: -6px;
    font-size: 16px;
  }
}

.team-member__experience {
  color: $accent;

  @media (max-width: $mobile-max-width) {
    display: block;
    margin-bottom: 11px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    font-size: 12px;
  }
}

.team-member__description {
  @media (max-width: $mobile-max-width) {
    margin-top: 0;
    margin-bottom: 6px;
  }
}

.team-member__social-link {
  &:hover,
  &:focus {
    outline: none;

    .team-member__social-icon {
      opacity: 1;
    }
  }

  &:active {
    .team-member__social-icon {
      fill: #7869ac;
    }
  }
}

.team-member__social-icon {
  fill: #8b7eac;
  opacity: 0.65;
}
