@font-face {
  font-family: "Geometria";
  src:
    local("Geometria"),
    local("Geometria-Medium"),
    local("Geometria Medium"),
    url("../fonts/geomeria-medium-webfont.woff2") format("woff2"),
    url("../fonts/geomeria-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
