html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;

  min-width: $mobile-min-width;
  max-width: 1920px;
  margin: 0 auto;

  font-family: $geometria-font-stack;
  font-size: 14px;
  line-height: $body-lh;
  font-weight: normal;
  color: $dark-on-light;
  word-break: break-word;

  background-color: $body-bg;
  -webkit-tap-highlight-color: transparent;

  @media (max-width: $tablet-max-width) {
    font-size: $body-tm-fs;
  }

  @media (min-width: $desktop-min-width) {
    font-size: $body-d-fs;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.default-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.container {
  margin: 0 auto;

  @media (max-width: $mobile-max-width) {
    padding: 0 35px;
  }

  @media (min-width: $tablet-min-width) {
    width: 80.5%;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    min-width: 623px;
  }

  @media (min-width: $desktop-min-width) {
    max-width: $desktop-container-max-width;
  }

  &--padding-small {
    @media (max-width: $mobile-max-width) {
      padding: 0 15px;
    }
  }
}

.section-title {
  margin: 0;

  font-family: $geometria-font-stack;
  text-align: center;
  font-weight: normal;

  @media (max-width: $mobile-max-width) {
    font-size: $section-title-fs-m;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    margin-bottom: 33px;

    font-size: $section-title-fs-t;
  }

  @media (min-width: $desktop-min-width) {
    font-size: $section-title-fs-d;
  }
}

@-webkit-keyframes autofill {
  to {
    color: #000000;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.body-anim-on {
  left: 260px;

  overflow: hidden;

  animation-name: body-slide-on;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

.body-anim-off {
  animation-name: body-slide-off;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes body-slide-on {
  0% {
    left: 0;
  }

  100% {
    left: 260px;
  }
}

@keyframes body-slide-off {
  0% {
    left: 260px;
  }

  100% {
    left: 0;
  }
}
