$mobile-min-width: 320px;
$mobile-mid-min: 581px;
$mobile-mid-max: 609px;
$mobile-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 1159px;
$desktop-min-width: 1160px;
$desktop-max-width: 1447px;

$container-mob-width: 290px;

$geometria: ("Geometria", "Arial", "Helvetica", sans-serif);
$body-tm-fs: 10px;
$body-d-fs: 14px;
$body-lh: 1.5;
$lh-min: 1;
$section-title-fs-m: 18px;

$body-bg: #fcf8fe;
$dark-on-light: #8e80a9;
$light-on-dark: #ffffff;
$accent: #e65c7b;


$header-phone-mt-fs: 12px;
$header-phone-d-fs: 16px;
$header-invitation-mt-fs: 10px;
$header-invitation-d-fs: 14px;
$header-slogan-m-fs: 67px;

$nav-mt-fs: 14px;
$nav-item-border: 1px solid #7a6e92;

$subscr-time-btn-fs: 12px;
$subscr-title-m-fs: 16px;
$subscr-price-m-fs: 18px;
