$mobile-min-width: 320px;
$mobile-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 1159px;
$desktop-min-width: 1160px;
$desktop-max-width: 1447px;

$container-mob-width: 290px;

$dark-on-light: #8e80a9;
$light-on-dark: #ffffff;
$accent: #e65c7b;

$header-phone-mt-fs: 12px;
$header-phone-d-fs: 16px;
$header-invitation-mt-fs: 10px;
$header-invitation-d-fs: 14px;
