$mobile-min-width: 320px;
$mobile-mid-min: 581px;
$mobile-mid-max: 609px;
$mobile-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 1159px;
$desktop-min-width: 1160px;
$desktop-container-max-width: 1194px;
$desktop-max-width: 1440px;
$body-max-width: 1920px;
$footer-line-breakpoint: 1867px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$container-mob-width: 290px;

$geometria-font-stack: ("Geometria", "Arial", "Helvetica", sans-serif);
$body-tm-fs: 10px;
$body-d-fs: 14px;
$body-lh: 1.5;
$lh-min: 1;
$section-title-fs-m: 18px;
$section-title-fs-t: 21px;
$section-title-fs-d: 30px;

$body-bg: #fcf8fe;
$dark-on-light: #8e80a9;
$dark-on-light-hover: #6d6095;
$dark-on-light-pressed: #7c7c8c;
$light-on-dark: #ffffff;
$accent: #e65c7b;
$accent-hover: #db326d;
$accent-pressed: #c92964;
$reserve-image-bg: #d2cbe0;


$header-phone-mt-fs: 12px;
$header-phone-d-fs: 16px;
$header-invitation-mt-fs: 10px;
$header-invitation-d-fs: 14px;
$header-slogan-m-fs: 67px;
$header-bg-point-mob: 529px;

$nav-mt-fs: 14px;
$nav-item-border: 1px solid #7a6e92;

$direction-title-fs-d: 16px;
$direction-title-fs-mt: 12px;
$direction-schedule-fs-d: 12px;

$subscr-time-btn-fs: 12px;
$subscr-title-m-fs: 16px;
$subscr-title-td-fs: 18px;
$subscr-price-m-fs: 18px;
$subscr-price-t-fs: 21px;
$subscr-price-d-fs: 30px;

$team-member-title-fs-mt: 10px;
$team-member-title-fs-d: 12px;

$author-name-fs: 12px;
$author-nav-fs-m: 12px;

$review-text-t-fs: 12px;

$registration-title-fs-m: 20px;
$registration-title-fs-td: 30px;
$reg-placeholder-color: #c8c0db;
$reg-placeholder-color-hover: #a19bc7;
$reg-input-fs: 14px;
$reg-input-text-color: #7f7f7f;
$reg-valid-error-color: #e50101;

$footer-bg-color: #8373a1;
$footer-info-title-fs: 14px;
$footer-info-data-fs: 12px;
